/* font-input */
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Open+Sans:ital,wght@0,400;1,800&display=swap");

/* variables */
:root {
	--default-text-colour: #fff;
	--header-accent-colour: greenyellow;
	--weather-actions-bg: #7c7c7c2b;
	--news-block-bg: #f6f7f8;
	--news-text-colour: #131d24;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* weather */
main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem;
	margin: 0 auto;
}

.left,
.mid,
.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	flex: 1;
	padding: 1rem;
	background: lightyellow;
}

.left {
	border-left: 5px solid lightblue;
}

.left__headline {
	font-weight: 800;
}

.mid {
	border-left: 5px solid darkgreen;
}

.right {
	border-left: 5px solid orangered;
}

@media (min-width: 768px) {
	main {
		flex-direction: row;
	}
}
