* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
}

main {
	max-width: 80%;
	margin: 0 auto;
	padding: 1rem;
}

.headline {
	font-size: 1.5rem;
	font-weight: 800;
	margin-bottom: 1.5rem;
}

.image-wrapper {
	float: left;
	max-width: 500px;
	padding-right: 1rem;
}

.image-wrapper img {
	width: 100%;
}
